
.parent{
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height:65vh;
    width:100vh;
}
.child{
    flex-direction: row;
    height:60vh;
    width:60vh;
    border-radius: 8px solid black;
}
.internal{
    flex-direction: column;
    flex:auto;
    height:20vh;
    width:60vh;
}
img{
    height:45vh;
    width:50vh;
    border-radius: 8px;
}
p{
    font-weight: bold;
    color:green;
    font-size: large;
    border-radius: 8px;
}
button{
    background-color: rgb(229, 255, 0);
}