
.parent{
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height:70vh;
}
.child{
flex-direction: column;
height:70vh;
display: flex;
flex:auto;
padding:10px;

}
.internal{
    flex:auto;
    height:20vh;
   
}
img{
    height:45vh;
    width:50vh;
    border-radius: 8px;
}
p{
    font-weight: bold;
    color:green;
    font-size: large;
    border-radius: 8px;
}
button{
    background-color: rgb(229, 255, 0);
}