
.parent{
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex:auto;
    align-items: center;
    
}
.child{
flex-direction: column;
height:80vh;
display: flex;
flex:auto;
float:left;
overflow: hidden;
padding:30px;


}
.internal{
    flex:auto;
    height:10vh;
    width: 55vh;
    overflow: hidden;
}

img{
    height:47vh;
    width:55vh;
    border-radius: 8px;
}
p{
    font-weight: bold;
    color:green;
    font-size: large;
    border-radius: 8px;
}
.button{
    background-color: #e29c04;
    border: 1px solid b;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}